.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -----------------***-------------- styles -------------***------------------ */

.component__heading {
  font-weight: 500;
  color: #000;
  font-size: 2.5rem;
  text-align: left;
}


/*  ----- card ----- */
.card {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.07);
}

.card > img {
  object-fit: fill;
  min-width: 300px;
  min-height: 200px;
  width: 100%;
}

.card__info {
  margin-top: -9px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 20px;
  border: 1;
}

.card__info > h2 {
  font-size: 18px;
  font-weight: 600;
}

.card__info > h4 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* ----banner ----- */
.banner {
  background: url("https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg")
    center center;
  height: 50vh;
  position: relative;
}

.banner__info {
  background-color: black;
  color: white;
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}

.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
}

.banner__info > button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > button:hover {
  background-color: white;
  color: #ff7779;
}

.banner__info > h5 {
  margin-top: 10px;
}

/* --------------- HOME --------------- */
.home__container {
  margin-top: 1.5rem;
  padding: 0 6rem;
}

/* ------------ TOP PLACES --------------- */
.topPlaces__container {
  width: 100%;
  /* height: 20%; */
}

/* ------ place card ------  */

.placeCard__wrapper {
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  font-weight: inherit !important;
  border-radius: 0px !important;
  outline: none !important;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
  -webkit-tap-highlight-color: transparent !important;
  background: transparent !important;
  border: none !important;
  color: inherit !important;
  display: block !important;
  margin: 0px !important;
  padding: 0px !important;
  text-align: inherit !important;
  text-decoration: none !important;
  height: 100% !important;
  width: 100% !important;
}

.placesCard__card {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
}
.placesCard__card:hover {
  transform: scale(1.07);
}

.placesCard__card > img {
  object-fit: fill;
  min-width: 300px;
  min-height: 250px;
  width: 100%;
}

.placesCard__info {
  margin-top: -9px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 20px;
  border: 1;
  background-color: #282c34;
}

.placesCard__info > h2 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

/* .placesCard__info > h4 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
} */

/* -------------- HEADER ---------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}
.header__left {
  /* flex: 1 */
  position: absolute;
  left: 5%;

}

.header__icon {
  object-fit: contain;
  height: 100px;
  color: #ff385b;
  font-size: 2.5rem;
}

.header__center {
  display: flex;
  /* flex: 2; */
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  max-width: fit-content;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightgrey; */
}
.header__center_1:hover {
  cursor: text;
}

.header__searchInput {
  position: relative;
  /* background-color: lightgrey; */
  padding: 15px 40px 15px 20px;
  width: 20px;
  color: #525252;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, #ffffff 0%, #464747 #f9f9f9 100%);
  transition: width 0.4s ease;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.195), 0 4px 12px rgba(0, 0, 0, 0.157);
}

.header__searchInput:focus {
  width: 300px;
}
.searchIcon {
  position: relative;
  left: -42px;
  color: #ff7779;
  /* font-size: 48px; */
}


.MuiAvatar-circular {
  border: 1px solid #dddddd;
  color: #717171;
  transition: 0.8 ease-in;
}
.header__userIcon:hover, .header__userIcon:active {
  cursor: pointer;
  box-shadow: #00000070 2px 4px 12px;
}

.header__right {
  display: flex;
  align-items: center;
  position: absolute;
  right: -10%;
  transform: translate(-50%);
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}

.header__menuItem:hover{
  cursor: pointer;
}



/* -------------------------- TRAVEL COMPONENT -------------------------- */
/* .travel__component {
  background-color: #525252;
  width: 100%;

} */
.travel__fullstop{
  font-size: 3.2rem;
  color: #ff385b;
}

/* ------- Top bar -------- */
/* .travel__topbarWrapper{

} */
.travel__searchMode{
  transition: transform 100ms ease-in;
}

.travel__searchMode:hover{
  transform: scale(1.1);
  color: #ff385b;
}












/* --------------------------------------------- */
.searchPage__info {
  padding: 20px;
}

.searchPage__info > p {
  margin-bottom: 10px;
  font-size: 14px;
}

.searchPage__info > h1 {
  margin-bottom: 30px;
}

.searchPage__info > button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
}

/* ------------------- */
.searchResult {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.searchResult:hover {
  opacity: 0.8;
}

.searchResult > img {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.searchResult__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.searchResult__heart {
  position: absolute;
  top: 20px;
  right: 40px;
}

.searchResult__infoTop {
  width: 40vw;
}

.searchResult__infoTop > h3 {
  font-weight: 300;
  margin-top: 10px;
}

.searchResult__infoTop > p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}

.searchResult__infoBottom {
  display: flex;
  justify-content: space-between;
}


.searchResult__star {
  color: red;
}


.searchResult__stars {
  display: flex;
  align-items: center;
}

.searchResults__price > p {
  text-align: right;
}

.searchResults__price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}



